<li *ngIf="title.Title">
      <h5 class="movieTitle" style="padding:0px;" id="{{ title.Title }}">
        {{ title.Title }} ({{ title.Year }})
      </h5>
  <div class="eachMovie" style="line-height:0.9em;">
  <div *ngIf="title.season" class="season"><p style="font-size:0.8em;"><b>Season:</b> {{ title.season }}</p></div>
  <div *ngIf="title.Genre.length > 5" class="genre"><p style="font-size:0.8em;"><b>Genre:</b> {{ title.Genre }}</p></div>
  <div *ngIf="title.Actors.length > 5" class="cast"><p style="font-size:0.8em;"><b>Cast:</b> {{ title.Actors }}</p></div>
  <div *ngIf="title.Director.length > 5" class="director"><p style="font-size:0.8em;"><b>Director:</b> {{ title.Director }}</p></div>
  </div>
</li>