<li ng-if="title.Title" class="item item-thumbnail-left"  ng-show="title">
  <img on-tap="gotoTitle(title)" class="thumbnail-no-padding" ng-src="{{ title.Poster.length > 5 ? title.Poster : 'img/no-image-available.jpg'}}" />
  <h2 on-tap="gotoTitle(title)" on-hold="showFullTitle(title.Title)">
    {{ title.Title }}
    <span on-tap="gotoTitle(title)" class="season" ng-if="title.season">S{{ title.season }}</span>

  </h2>

  <p on-tap="gotoTitle(title)" class="year">{{ title.Year }}</p>
  <p on-tap="gotoTitle(title)" class="runtime">{{ title.Runtime }}</p>
  <p on-tap="gotoTitle(title)" class="genre">{{ title.Genre }}</p>
  <div class="ratings">
    <ul>
      <li class="imdb">
        <img src="img/imdb-logo.png" />
        <p>{{ title.imdbRating.length > 1 && title.imdbRating !== "N/A" ? title.imdbRating : '--'}}</p>
      </li>
      <li class="metascore">
        <img class="metacritic" src="img/metacritic-logo.png" />
        <p>{{ title.Metascore.length > 1 && title.Metascore !== "N/A" ? title.Metascore + '/100' : '--'}}</p>
      </li>
    </ul>
  </div>
  <a ng-click="addReminder(title, this)" class="button button-large button-icon icon ion-clock remindMe"
     ng-class="windowObject.localStorage['reminder' + title.Title] === 'true' ? 'selected' : ''"></a>
</li>