.movieDetails {
  font-size: 0.8em;
  position: relative;
  height: 100%;
  width: 100%;
  float: left;
  height: 220px;

  .netflixRelease {
    font-size: 2em;
    line-height: 1.7em;
    text-align: center;
    width: 60%;
    height: 200px;
    padding-top: 10px;

    .onNetflix {
      font-size: .8em;
      font-weight: 700;
      color: #AD1C1C;
    }

    .day {
      font-size: 2.3em;
      font-weight: 700;
      color: #1D1D1D;
      font-family: Bangers,cursive;
      margin: 0;
    }

    .month {
      font-size: 1.5em;
      font-weight: 500;
      color: #2B2B2B;
      font-family: Bangers,cursive;
    }
  }

  .posterArt {
    margin-top: -4px;
    float: right;
    width: 40%;
    position: relative;
    height: 200px;
    max-height: 200px;

    a {
      height: 100%;
      width: 100%;
      display: block;
    }
    .poster {
      height: auto;
      width: 100%;
    }
  }

  .remindMe {
    &.selected {
      color: #BE272D;
    }
  }
}


.description {
  padding: 10px 15px;
  clear: both;
  overflow-y: auto;
  position: relative;
  text-align: justify;

  .title {
    margin-top: 0;
    text-align: center;

    h2 {
      margin-bottom: -16px;
      font-size: 1.8em;
      line-height: 1.4em;
    }
  }

  h3 {
    font-weight: 700;
    font-size: 1.1em;
    color: color($colors, dark);
    margin-top: 30px;
  }

  ion-avatar img {
    margin-top: 16px;
    max-width: 18rem;
    max-height: none;
    border-radius: 2rem;
    margin: 0 auto;
    margin-top: 16px;
  }
}

.movie-page {
  ion-content {
    background: #efebe5;
  }
  [padding], scroll-content {
    padding: 8px;
  }
}